h2{
  border:2px solid green;
  background-color:green;
  font-size:40px;
  margin-top:-5px;
}

.left{
  float:left;
  background-color:yellow;
  padding:30px;
  height:200px;
  width:13%;
  border:1px solid green;
}

.right{
  float:right;
  background-color:yellow;
  padding:30px;
  height:200px;
  width:75%;
  border:1px solid green; 
  text-align: center;
}

footer{
  clear:left;
  clear:right;
  border:1px solid gray;
  padding:10px;
  margin-bottom:10%;
}

#company{
  font-size:10px;
}
